.list{
    text-align: right;
    margin-right: 10px;
    margin-left: auto;

}
.upar{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:black;
    padding: 2px;
    margin-left: 20px;
    margin-top: 20px;


}


  
  /* Navbar styles */
  .navbar {
    padding: 10px;
  }
  
  .navbar img {
    width: 80px;
    margin-right: 10px;
  }
  
  .upar {
    margin-left: auto;
  }
  
  /* List styles */
  .navbar-nav {
    margin-left: auto;
  }
  
  /* .nav-item {
    margin-right: 25px;
    color:black;

  }
  
  .nav-link {
    color: black; 
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-larger;

  } */

  .nav-item{
    margin-right: 30px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: x-large;
  }

  .nav-link:hover{
    color: #fb7185;
    text-decoration-line: underline;
  }
  
  
  .first-section{
    background-image:url("bg8.webp");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat; 
    height: 500px;
    width: 100% ;
  }

  .tag-line{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-align: center; */
    font-size: 6pc;
    color:#fb7185;
    margin-top: 10px;
    margin:30px;
  
  }
  .caption-line{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-align: center; */
    font-size: 3.5pc;
    color: #fb7185;
    margin-left: 170px;
    /* margin:30px; */

  }

  .call-btn{
  
    text-decoration: none;

  }

  .butn{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 390px;
    font-size: 3pc;
    color: white;
    margin-top: 20px;
    background-color: #fb7185;

  }
  .heading-services{
    text-align: center;
    color:black;
    font-size:2.5pc ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;

  }
  .paragraph{
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  span{
    color:#71c4fb;
  }
  .list-services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:8em
  }
  .s1 {
    width: 150px;
    height: 100px;
    background-color: #fb7185;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
    justify-content: center;
    align-items: center;

  }
  
  .s2 {
    width: 150px;
    height: 100px;
    background-color: #71c4fb;
    padding-top: 1.5em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
    justify-content: center;
   

  }
  .service-type{
    background-color:  #fb7185;
    margin: 20px;
    height: 400px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  .service-button{
    display: block; 
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width :200px;
    height:50px;
  }

  .book-service-btn:hover .service-button {
    background-color: black;
    color: #fb7185;
}

  
  .type-service{
    padding-top: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    color:black;
    font-size:2.5pc ;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px;
  }
  .tag-service{
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .carousel-item img{
    height: 500px;
    width: 70%;
  
  }
  .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #ff0000; /* Change background color */
            color: #ffffff; /* Change arrow color */
        }

.Location{
  margin-top: 150px;
  background-color: #ea8f9d;
  
}
.link-directions{
  color: black
  ;
}
.maps{
  margin: 20px;
  display: flex;
  gap: 1em;
}


.contact-us{
  display: flex;
  gap: 4em;
  justify-content: space-evenly;
}

.heading1-footer{
  margin: 50px;
}

.map-display{
  justify-content: center;
  margin-left: 220px;
  margin-bottom: 50px;
}
.stay-line{
  margin:30px ;
  width: 400px;
}
footer{
  display: flex;
}
.review-google{
  text-decoration: none;
  color: black;
  display: block;
  margin :30px
}
.review-google:hover{
  color:#fb7185;
}
.footer-contact{
  display: flex;

}
.fb-icon{
  margin: 30px;
}



  

   
   